# Exclude saved tasks and config files
Project_Manager/data/saved_tasks.json
Project_Manager/data/app_config.yaml
Project_Manager/app.log
__pychache__/
*.py[cod]
*$py.class
*.so

dist/
build/
*.egg-info/
*.egg

venv/
env/
ENV/
.env/
.venv/
env.bak/
venv.bak/

.env.env.local
.env.*.local

.idea/
.vscode/
*.swp
*.swo
.DS_Store

.ipynb_checkpoints

.converage
htmlcov/
.pytest_cache/
.tox/
nosetests.xml
coverage.xml*.coverage
logs/
*.log
*.db
*.sqlite3